.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f3f4f6;
    background-image: url('/assets/img/10101411.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .login-box {
    padding: 30px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 25%;
    text-align: center;
  }
  .login-box img{
    width: 55%;
    padding: 15px 0px 15px 0px;
  }
  .login-input {
    width: 95%;
    padding: 10px;
    margin-top: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: 0.2s;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  
  .login-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #bc1f1b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .login-button:hover{
    background-color: #6e1210;
    transition: 0.2s;
  }
  .checkbox{
    display: flex;
    padding: 15px 0px 15px 0px;
    font-size: 13px;
  }